.admin-layout-container {
  position: relative;
}
.admin-fixed {
  width: 90%;
  max-width: 1200px;
}

.admin-center {
  margin: 0 auto;
}

.admin-layout-container main {
  min-height: calc(100vh - 150px);
}

.admin-layout-main {
  display: flex;
  gap: 1rem;
}

@media (width > 768px) {
  .admin-fixed {
    width: 80%;
  }
}

.admin-layout-container aside {
  background-color: red;
  position: fixed;
  inset: 0;
  width: 100%;
}
