.user-info {
  position: relative;
}
.user-info-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  pointer-events: all;
  cursor: pointer;
}

.user-info-icon .arrow {
  font-size: 0.7rem;
  color: var(--grey700);
}

.user-info-icon .avatar {
  --size: 24px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-info-icon .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.avatar {
  pointer-events: none;
}

.user-info-icon .user-avatar-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--grey700);
  pointer-events: none;
}

.user-info-icon-active {
  .avatar .user-avatar-svg {
    fill: var(--greenColor);
  }

  .arrow {
    color: var(--greenColor);
    rotate: 180deg;
  }
}

.user-data-toggle-menu-container {
  position: absolute;
  transform: translate(-50%, 0) scaley(0);
  padding: 0rem 1rem 1rem 1rem;
  min-width: 240px;
  border-radius: 0.5rem;
  top: 2rem;
  background-color: var(--lightColor);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  transform-origin: top;
  overflow: hidden;
  transition: all 0.5s ease;
}

.user-data-toggle-menu-container-active {
  transform: translate(-50%, 0) scaley(1);
  transition: all 0.3s ease-in-out;
}

.user-data-toggle-menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transform: translateY(-120%);
  transition: all 0.5s ease;
}

.user-data-toggle-menu-container-active .user-data-toggle-menu {
  transform: translateY(0);
}

.user-data-toggle-menu > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.user-name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 0;
}

.user-name h6 {
  color: var(--darkColor);
  font-size: var(--smf14);
  line-height: calc(var(--lineHeight) * var(--smf14));
  font-weight: 600;
}

.user-data-toggle-menu button {
  text-align: center;
  background-color: transparent;
  font-size: var(--smf14);
  color: var(--lightColor);
  background-color: var(--greenColor);
  width: 100%;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.5s ease;
}

.user-data-toggle-menu button:hover {
  background-color: var(--darkColor);
}
