.shopping-cart-page {
  border: 1px solid var(--grey100);
  border-radius: 0.5rem;
  padding: 0.5rem 0;

  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

///////////////////////////////////// top title of shopping cart page

.shopping-cart-page .shopping-cart-page-title {
  font-size: var(--sm14);
  line-height: calc(var(--lineHeight) * var(--sm14));
  font-weight: 600;
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
  // background-color: red;
}

///////////////////////////////////// bill cart

.shopping-cart-page .cart-bill {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  border-top: 1px solid var(--grey100);
  border-bottom: 1px solid var(--grey100);
}

.shopping-cart-page .cart-bill .cart-bill-title {
  h3 {
    font-size: var(--nf16);
    line-height: calc(var(--lineHeight) * var(--nf16));
    font-weight: 600;
  }
}

.shopping-cart-page .cart-bill .sub-total,
.shopping-cart-page .cart-bill .shipping,
.shopping-cart-page .cart-bill .total {
  display: flex;
  justify-content: space-between;
  font-size: var(--smf14);
  line-height: calc(var(--lineHeight) * var(--smf14));
  border-bottom: 1px solid var(--grey100);
  padding-bottom: 0.5rem;
}

.shopping-cart-page .cart-bill .checkout button {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--greenColor);
  background-color: var(--greenColor);
  color: var(--lightColor);
  border-radius: 0.5rem;
  font-size: var(--smf14);
  line-height: calc(var(--lineHeight) * var(--smf14));
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s ease;
}

.shopping-cart-page .cart-bill .checkout button:hover {
  background-color: var(--lightColor);
  color: var(--greenColor);
}

// ///////////////////////shopping cart table

.shopping-cart-page .shopping-cart-table {
  width: 100%;
  border-collapse: collapse;
}

.shopping-cart-page .shopping-cart-table thead tr {
  border-top: 1px solid var(--grey100);
  border-bottom: 1px solid var(--grey100);
  // background-color: var(--grey100);
}

.shopping-cart-page .shopping-cart-table thead th {
  font-weight: 500;
  font-size: var(--smf14);
  line-height: calc(var(--lineHeight) * var(--smf14));
  color: var(--grey400);
}
.shopping-cart-page .shopping-cart-table thead th {
  // background-color: red;
  text-align: left;
}

.shopping-cart-page .shopping-cart-table thead th,
.shopping-cart-page .shopping-cart-table tbody td {
  border-bottom: 1px solid var(--grey100);
  padding: 1rem 0.5rem;
}

.shopping-cart-page .shopping-cart-table .item-title {
  display: flex;
  align-items: center;
  h3 {
    font-weight: 400;
    font-size: var(--smf14);
    line-height: calc(var(--lineHeight) * var(--smf14));
  }

  img {
    display: none;
  }
}

.shopping-cart-page .shopping-cart-table .price {
  font-weight: 400;
  font-size: var(--smf14);
  line-height: calc(var(--lineHeight) * var(--smf14));
}

////////////////////////////////////////////////

.shopping-cart-page .shopping-cart-table .quantity .quantity-model-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease;
  color: var(--greenColor);
  border: 1px solid var(--greenColor);
  &:hover {
    background-color: var(--greenColor);
    color: var(--lightColor);
  }
}

.shopping-cart-page .shopping-cart-table .quantity .quantity-model {
  inset: 0 0 0 0;
  position: fixed;
  width: 100%;
  height: 100dvh;
  height: 100svh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  background-color: rgba(var(--darkRgb), 0.7);
}

.shopping-cart-page .shopping-cart-table .quantity .quantity-container {
  padding: 0.5rem 0.1rem;
  border: 1px solid var(--grey100);
  background-color: var(--lightColor);
  border-radius: 5rem;
  position: relative;
}
.shopping-cart-page
  .shopping-cart-table
  .quantity
  .quantity-container
  .quantity-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1.5rem;

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input {
    width: 48px;
    height: 48px;
    border: 1px solid var(--grey100);
    border-radius: 50%;
    text-align: center;
  }

  div:not(:has(input)) {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid var(--grey100);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--grey400);
    cursor: pointer;
    transition: all 0.5s ease;
    // background-color: red;
    // display: none;
  }
}

.shopping-cart-page
  .shopping-cart-table
  .quantity
  .quantity-container
  .quantity-error {
  background-color: var(--errorColor);
  // display: none;
  position: absolute;
  color: var(--lightColor);
  font-size: var(--smf11);
  line-height: calc(var(--lineHeight) * var(--smf11));
  font-weight: 400;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
  text-align: center;
  top: -35px;

  animation: addToCartErrors 0.7s ease-in-out reverse 0.7s forwards;

  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid var(--errorColor);
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes addToCartErrors {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

///////////////////////////////

.shopping-cart-page .shopping-cart-table .subtotal {
  width: fit-content;

  p {
    font-size: var(--smf14);
    line-height: calc(var(--lineHeight) * var(--smf11));
    font-weight: 400;
  }
}

.shopping-cart-page .shopping-cart-table .remove {
  border: 1px solid var(--errorColor);
  // background-color: rgba(var(--errorRgb), 0.1);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--errorColor);
  pointer-events: all;
  cursor: pointer;
  transition: all 0.5s ease;
}

.shopping-cart-page .shopping-cart-table .remove:hover {
  background-color: var(--errorColor);
  color: var(--lightColor);
}

/////////////////////////////////////// pagination

.shopping-cart-pagination-comp {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 1rem 0;
  // background-color: black;
}

.shopping-cart-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  // background-color: red;

  // flex-wrap: wrap;
}

.shopping-cart-pagination a {
  // background-color: red;
  // background-color: blue;
  margin: 0 0.25rem;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  cursor: pointer;
  color: var(--grey700);
}

.shopping-cart-pagination a:hover {
  background-color: var(--greenColor);
  color: var(--lightColor);
}

.shopping-cart-pagination .page-active-link,
.shopping-cart-pagination .page-active-link:hover {
  background-color: var(--greenColor);
  color: var(--lightColor);
}

.shopping-cart-pagination .page-next,
.shopping-cart-pagination .page-prev {
  border: 1px solid var(--grey400);
  background-color: var(--lightColor);
}

/////////////////////////////////////// media query

@media (width > 768px) {
  .shopping-cart-page {
    // background-color: red;
    padding: 1.5rem;
    gap: 1rem;

    grid-template-columns: 1fr;
  }

  .shopping-cart-page .shopping-cart-page-title {
    font-size: var(--nf20);
    line-height: calc(var(--lineHeight) * var(--nf20));
    font-weight: 600;
    padding: 0.5rem;
    // background-color: red;
  }

  .shopping-cart-page .cart-bill {
    // background-color: red;
    border: 1px solid var(--grey100);
    border-radius: 0.5rem;
  }

  .shopping-cart-page .shopping-cart-table .item-title {
    // background-color: blue;
    gap: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h3 {
      font-size: var(--nf16);
      line-height: calc(var(--lineHeight) * var(--nf16));
    }
    img {
      display: block;
      max-width: 120px;
      max-height: 120px;
      border-radius: 0.5rem;
    }
  }

  .shopping-cart-page .shopping-cart-table .quantity .quantity-model-btn {
    width: 32px;
    height: 32px;
  }

  .shopping-cart-page .shopping-cart-table .subtotal {
    width: fit-content;

    p {
      font-size: var(--nf16);
      line-height: calc(var(--lineHeight) * var(--nf16));
      font-weight: 400;
    }
  }

  .shopping-cart-page .shopping-cart-table .remove {
    width: 32px;
    height: 32px;
  }

  .shopping-cart-page .shopping-cart-table .cart-btn {
    .cart-btn-comp {
      stroke: var(--greenColor);
    }
  }

  .shopping-cart-page .shopping-cart-table .remove {
    .remove-btn-comp {
      stroke: var(--errorColor);
    }
  }

  .shopping-cart-page .shopping-cart-table .price {
    font-size: var(--n160);
    line-height: calc(var(--lineHeight) * var(--nf16));
  }

  .shopping-cart-pagination {
    max-width: 320px;
    width: 100%;
  }
}

@media (width > 900px) {
  .shopping-cart-page {
    // background-color: red;
    padding: 1.5rem;
    grid-template-columns: auto auto;
    grid-template-areas:
      "title title"
      "table bill";

    gap: 1rem;
  }

  .shopping-cart-page .shopping-cart-page-title {
    grid-column: 1/3;

    font-size: var(--nf20);
    line-height: calc(var(--lineHeight) * var(--nf20));
    font-weight: 600;
    padding: 0.5rem;
    // background-color: red;
  }

  .shopping-cart-page .cart-bill {
    // background-color: red;
    border: 1px solid var(--grey100);
    border-radius: 0.5rem;
    grid-area: bill;
    min-width: 180px;
    width: 100%;
    max-width: 300px;
  }
  .shopping-cart-page .shopping-cart-table {
    grid-area: table;
  }
}
